body {
	background-color: white;	
	margin: 3em auto;
	width: 50em;
	/*font-family: 'Droid Sans', 'Trebuchet MS', sans-serif;*/
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	color: #555;
}

header {
	height: 4.45em; 
	}

h1 {
	margin: 0;
	
	color: #222;
	
	font-family: 'Philosopher', serif;
	font-size: 3em;
	text-shadow: 0px 0px 2px #999;
}

h2 {
	margin: 0.25em 0 0 4em;
		
	color: #999;

	font-family: 'Philosopher', serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.2em;
}

nav {
	width: 50%;
	height: 1.5em;
	
	border-bottom: 2px solid #EE40D5;
}

nav ul {
	margin: 1em 0 0;
	padding: 0;
	height: 1.5em;
	
	list-style: none;
	
	font-family: 'Philosopher', serif;
	font-size: 1.15em;
}

nav ul li {
	float: left;
	display: block;
	width: 20%;
	height: 1.5em;
	padding: 0;
	color: #AAA;
}

nav ul li.active {
	color: #555;
}

nav ul li a:link {
	text-decoration: none;
	color: inherit;

}
nav ul li a:visited {
	color: #666;
}
nav ul li a:hover {
	color: lightblue;
}
nav ul li a:active {}

a:link {
	text-decoration: none;
	color: #EE40D5;
}

a:hover {
	text-decoration: underline;
	color: lightblue;
}

/* content: section */
article {
	padding: 0.3em;	
	margin-top: 2em;
}

h3 {
	font-size: 2em;
	font-family: 'Philosopher', serif;
	margin: 0.7em 0 0;

}

h3 a:link {
	color: black;
	text-decoration: none;
}

h3 a:visited {
	color: #333;
}

h3 a:hover {
	border-bottom: 2px solid #EE40D5;
}

h3 a:active {
	color: lightblue;

}

p {
	font-size: 1.2em;
}

article footer {
	width: 50%;
	border-top: 1px solid #AAA;
	font-size: 0.9em;
	color: #AAA;
}

time {
	color: #666;
}

.author {
	color: #666;
	font-family: 'Segoe Script', 'Handwriting - Dakota', 'Lucida Handwriting', 'URW Chancery L', cursive;	
}

body > footer {
	text-align: right;
	font-size: 0.9em;
	color: #AAA;
	border-top: 1px solid #EEE;
}

.hilite {
	color: #EE40D5;
}
