@import "reset.less";

@pink: rgba(255,20,147, 1.0);
@tpink: rgba(255,20,147, 0.6);

@blue: rgba(0,191,255, 1.0);
@tblue: rgba(0,191,255, 0.5);


html {
	background: transparent url('/assets/img/body_bg.png') top left;
	font-family: 'PT Sans', sans-serif;
	color: #333;
}	

body {
	width: 660px;
	margin: 100px auto;
}

body[id=post] {
	margin: 25px auto;
	
	article {
		width: 600px;
		padding: 5px 30px;
		position: relative;
		background-color: rgba(240,240,240,0.5);
		border: 1px solid #eee;
		border-radius: 5px;
		clear: both;
		
		-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.07);
   	 	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.07);
    	box-shadow: 1px 1px 2px rgba(0,0,0,0.07);
    
	    h1 {
	    	margin-bottom: 0;
	    }   
    
	    div.meta {
	    	color: #ccc;
	    	text-align: center;
	    	font-size: 90%;
	    	margin-bottom: 30px;
    	
	    	a {
	    		text-decoration: none;    		
	    	}
    	
	    	a:visited {
	    		color: #ccc;
	    	}
    	
	    	a:hover {
	    		text-shadow: none; 
	    		color: @tblue;
    		
	    		&:after, &:before {
	    			content: ' / ';
	    			color: @tpink;
	    		} 
	    	}
	    }
    
	    blockquote {
	    	border-left: 2px solid rgba(255,20,147, 0.5);
			box-shadow: -2px 0 0 @tblue;
	    	margin: 2px;
	    	padding: 0 15px;
	    	color: #555;  
    	
	    	small {
	    		display: block;    		
	    	}  	
    	
	    	small:before {
	    		content: '-';
	    	}
	    }
	}
}


h1 {
	font-size: 300%;
	text-align: center;	
	//-webkit-text-shadow: 2px 0 0 @tpink, -2px 0 0 @tblue;
	text-shadow: 2px 0 0 @tpink, -2px 0 0 @tblue;
}

h2 {
	text-shadow: 1px 1px 0 @tpink, 2px 2px 0 @tblue;
}


a {
	color: #666;
}

a:visited {
	color: #444;
}

a:active {
	color: #333;
	text-shadow: 3px 0 0 @tpink, -3px 0 0 @tblue;
}

a:hover {
	color: #333;
	text-shadow: 1px 0 0 @tpink, -1px 0 0 @tblue;
}

hr {
	color: #ddd;
	background-color: #ddd;
	height: 1px;
	border: none;
}

section {
	
	& > p { 
	text-align: center;
	font-size: 130%;
	margin-bottom: 30px;
		
		em {
			color: hotpink;	
			margin: 0 5px;
			display: inline-block;
		}	
	}
	
	& > ul {
		list-style: none;
		text-align: center;
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 120%;
		
		li {
			display: inline-block;
			padding: 0 5px 0 0;
		}
		
		li {
		
			&:after {
				content: ' // ';
				color: #00bfff;
				padding: 0 0 0 10px;
				display: inline-block;
			}
		}
		
		li:last-child {
			padding: 0;
			
			&:after {
				display: none;
			}
		}
	}
}

footer {
	clear: both;
	text-align: center;
	color: #999;
	font-size: 80%;
	margin-top: 25px;
}

div.thumb {
	text-align: center;
	margin: 15px 0;
		
	h5 {
		margin: 0;
	}
	
	p {
		margin: 0;
		font-size: 80%;
	}
	
	img {
		max-width: 100%;
		-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);		
	}
	
	img.noshade {
		-webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	}
	
	img.medium {
		max-width: 70%;
	}
	
	img.small {
		max-width: 45%;
	}
}

div.doublethumb {
	clear: both;

	div.thumb {
		width: 295px;
		margin-right: 10px;
		float: left;
		
		img {
			width: 100%;			
		}
	}
	
	div.thumb:last-child {
		margin-right: 0;
	}
	
}

div.doublethumb:after {
		content: ' ';
		clear: both;
}

div.back {
	text-align: center;
	margin-top: 10px;
	font-size: 130%;
	
	a:after {
		content: ' //';
		color: @pink;
	}	
}

@media(max-width: 670px) {
	
	body, body[id=post] {
		width: 100%;
		min-width: 320px;
		margin: 0 auto;
		
		article {
			margin: 0 auto;
			width: auto;
			text-align: justify;
			padding: 10px;
		}
		
	
		div.doublethumb div.thumb, div.thumb {
			float: none;
			width: 75%;	
			max-width: 300px;			
			margin: 0 auto 10px;	
			
			img.small, img.medium {
				max-width: 100%;
			}		
		}
		
		@media(min-width: 500px) {
				
			div.doublethumb {
						
				div.thumb {
					float: right;
					width: 48%;
					min-width: 235px;	
					max-width: 330px;
					margin: 0;	
				}
				
				div.thumb:first-child {
					float: left;
					//margin-right: 2%;
				}
				
				&:after {
					content: ' ';
					height: 0;
					clear: both;
					display: block;
				}				
			}
		}
		

	}
		
	body {
	
		h1 {
			font-size:200%;
			text-shadow: 1px 0 1px @tpink, -1px 0 1px @tblue;				
		}
	
		h2 {
			text-shadow: 1px 1px 1px @tpink, 2px 2px 1px @tblue;
		}
	
		section { 
		
			p { 
				font-size: 120%;
			}
					
			ul li {
				float: none;
				display: block;
				margin-bottom: 10px;
			
				&:before {
					content: '/ ';
					color: #00bfff;
					padding: 0 5px 0 0;
					display: inline-block;
				}
			
				&:after, &:last-child:after {
					content: ' /';
					color: #00bfff;
					padding: 0 0 0 5px;
					display: inline-block;
				}
			}
		}		
	}
}