*, *:before, *:after {
  	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}

section {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
	padding: 0 20%;
}

section article {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

section footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

section footer a.next {
	background-color: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.3);
	font-size: 3em;
	padding: 0.1em 0.4em 0.2em;
	text-decoration: none;
}

section footer a.next:hover {
	background-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
}

section.bottom {
	z-index: 5;
	position: fixed;
	bottom: 0;
	left: 0;
}

section#intro {
    background-image: url('/assets/img/berlin_opt.jpg');
    background-color: transparent;
    background-position:  50% 50%;
    background-attachment: fixed;
    background-size: cover;
    -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.5);
}

section#about {
	background-color: #8bc34a;
}

section#contact {
	background-color: #e91e63;
}

section#contact footer a.next {
	color: #e91e63;
}

section#blog {
	background-color: rgba(41, 128, 185,1.0);
	height: auto;
}

section.placeholder {
	background-color: transparent;
	background-position:  50% 50%;
	background-attachment: fixed;
	background-size: cover;
	height: 50%;
	padding-top: 0;
	padding-bottom: 0;
    -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,0.5);
	}

section.placeholder h1 {
    font-size: 2.5em;
	border-left: 0.3em solid rgba(255,255,255,0.4);
    padding: 0;
    padding-left: 0.6em;
	margin: 0;
}

section.placeholder h1 span {
	color: rgba(255,255,255, 0.3);
}

section.placeholder#me {
	background-image: url('/assets/img/photo_opt.jpg');
}

section.placeholder#berlin {
	background-image: url('/assets/img/berlin_opt.jpg');
}

section h1 {
	width: 100%;
	color: rgba(255,255,255, 0.7);
	font-size: 4em;
	padding: 0;
	margin: 0;
    font-weight: 300;
}

section h1 strong {
    font-weight: 700;
}

ul {
	list-style: none;
	color: rgba(255,255,255, 0.5);
	margin: 0 auto;
	padding: 0;
	text-align: left;
	font-size: 2.5em;
}

ul li strong {
	color: rgba(255,255,255, 0.7);
}

ul li:before {
	content: '//';
	color: rgba(255,255,255, 0.3);
	margin-right: 0.2em;
}

section#intro h1 {
    font-size:  5em;
    text-align: center;
}

section#intro h1 span {
    font-size: 1.25em;
}

section#intro div#portrait {
    width: 9em;
    height: 9em;
    border: 0.25em solid rgba(255,255,255,0.7);
    border-radius: 4.5em;
    background: transparent url('/assets/img/logo_2.jpg') 50% 50%;
    background-size: 9em 9em;
    margin: 0 auto 1.5em;
    color: rgba(255,255,255,0.8);
    text-align: center;
    line-height: 5.5em;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.4),inset 0 0 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.4)
}

section ul a {
	text-decoration: none;
	color: rgba(255,255,255, 0.7);
	border-bottom: 1px dotted rgba(255,255,255, 0.5);
}

section ul a:visited {
	color: rgba(255,255,255, 0.5);
}

section ul a:hover {
	color: rgba(255,255,255, 1);
	border-bottom: 1px solid rgba(255,255,255, 0.5);
}

section ul a:active {
	background-color: rgba(255,255,255, 0.7);
	color: rgba(192, 57, 43, 1);
	border: none;
}

section#blog ul {
	font-size: 2em;
}

section#blog ul a {
	text-decoration: none;
	color: rgba(255,255,255, 0.7);
	border-bottom: 1px dotted rgba(255,255,255, 0.5);
}

section#blog ul a:visited {
	color: rgba(255,255,255, 0.5);
}

section#blog ul a:hover {
	color: rgba(255,255,255, 1);
	border-bottom: 1px solid rgba(255,255,255, 0.5);
}

section#blog ul a:active {
	background-color: rgba(255,255,255, 0.7);
	color: rgba(41, 128, 185,1);
	border: none;
}

@media screen and (max-width: 1200px) {
    html,body {
        font-size: 12px;
    }

    section {
        padding: 0 10%;
        background-attachment: scroll !important;
    }
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
    section footer {
        text-align: right;
    }

    section footer a {
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        border-top-left-radius: 10px;
    }
}


@media screen and (max-width: 600px) {
    html,body {
        font-size: 10px;
    }

    section {
        padding: 0 5%;
        background-attachment: scroll !important;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    section footer {
        text-align: right;
    }

    section footer a {
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        border-top-left-radius: 10px;
    }
}
