<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | honza ustohal</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="honza ustohal -- recent graduate // geek // technology aficionado // biker // golfer // food lover // design weirdo // and more">
    <meta name="author" content="honza ustohal">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="/assets/css/style.css" rel="stylesheet">
	<link href="/favicon.ico" rel="icon">
  </head>

  <body id="post">      
  
  	<article>
		<h1>{{ page.title }}</h1>
		<div class="meta"><a href="{{ post.id }}">{{ page.date | date_to_string }}</a></div>
		{{ content }}
	</article>
	
	<div class="back">
		<a href="/" title="Back home">back</a>
	</div>

    <footer>
		<p>&copy; <a href="mailto:honza@egoistic.biz">honza ustohal</a> 2012</p>
    </footer>

    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-325532-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </body>
</html>









