<html>
<head>
	<title>{{ page.title }} | Honza Ustohal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='/assets/css/post.css' rel='stylesheet' type='text/css'>	
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,700,300italic' rel='stylesheet' type='text/css'>	

</head>
<body>
  	<article id="{{ page.id | split:'/' | last }}">
			<header>
				<h1>{{ page.title }}</h1><span class="meta"> //&nbsp;{{ page.date | date: '%d/%m/%y' }}</span>				
			</header>
			<section>
				{{ content }}
			</section>
			<footer>
					<a href="/#blog" title="Back home" class="back">&lt;</a>
			</footer>
	</article>
</body>
</html>

